<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid" style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>

    <!-- <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle ">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping List</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div> -->

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="onAddToShoppingList()">To shopping List</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Ingredients</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} </li>
    </ul>
  </div>
</div>
