<!-- <a style="cursor: pointer; " class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
  <div class="float-left">
    <h4 class="list-group-item-heading"> {{recipe.name}}</h4>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>

</a>

<span class="float-right">
  <img [src]="recipe.imagePath" src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid"
    style="max-height: 60px;">
</span> -->

<div class="list-group">
  <a style="cursor: pointer;" class=" list-group-item  clearfix list-group-item-action " [routerLink]="[index]"
    routerLinkActive="active">
    <h4 style="margin-right: 10px;"class="list-group-item-heading"> {{recipe.name}}</h4>
    <div class="d-flex w-100 ">
      <p class="list-group-item-text">{{recipe.description}}</p>

      <img [src]="recipe.imagePath" src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid float-right"
        style="max-height: 100px;">
    </div>
  </a>
</div>

<!-- <div class="card mb-4 box-shadow">
  <img [src]="recipe.imagePath" src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="card-img-top">
  <div class="card-body">
    <h4 style="cursor: pointer;" class="list-group-item-heading" [routerLink]="[index]" routerLinkActive="active">
      {{recipe.name}}</h4>

    <p class="list-group-item-text">{{recipe.description}}</p>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
      </div>
      <small class="text-muted">9 mins</small>
    </div>
  </div> -->
