<style>
  #item {
    background-color: aqua;
  }

  .col-12 {
    background-color: red;
  }

  .row {
    background-color: aquamarine;
  }
</style>


<!-- loop through my recipe items -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success ">New Recipe</button>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-12" id="item">
      <!-- recipe list -->
      <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
        <div class="float-left">
          <h4 class="list-group-item-heading"> {{recipe.name}}</h4>
          <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <span class="float-right">
          <img [src]="recipe.imagePath" src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid"  style="max-height: 50px;">
        </span>
      </a>
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>
